@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --pattern-fg: rgba(23, 23, 23, 0.1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --pattern-fg: rgba(237, 237, 237, 0.08);
  }
}

.dark {
  --background: orange;
  --foreground: #ededed;

  --pattern-fg: rgba(237, 237, 237, 0.08);
}

.animate-me {
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
